/* THUMBNAIL IMAGE STYLING */

.thumbnails {
	text-align: center;
}
.thumbnails > img{
  margin: 10px;
  display: inline-block;
}

.thumbnails:after {
  content: "";
  display: table;
  clear: both;
}

.preview {
  float: left;
  margin: 4px;
}
.thumbnails > .preview > img{
	display: flex;
  width: 100%;
}

/* STYLING TO MAKE IMAGES SCALED AND CENTERED WHEN OPENED */
img.image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* LIGHTBOX BACKGROUND */
.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .7);
}

/* LIGHTBOX CONTENT CONTAINER STYLING */
.lightbox-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 800px;

}

/* STYLING FOR THE BUTTON TO CLOSE THE LIGHTBOX */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* DEFAULT FOR SLIDES TO STAY HIDDEN DONT TOUCH */
.mySlides {
  display: none;
}

/* PREVIOUS AND NEXT BUTTON STYLES */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: 800;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* NUMBERING FOR IMAGE TEXT */
.numbertext {
  color: #f2f2f2;
  font-size: 1em;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* CAPTION TEXT */
.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
}

/* THUMBNAIL SHADOWS */
img.thumbcontrol {
  opacity: 0.6;
}

.active,
.thumbcontrol:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1), 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}